@import "../styles/variables";
h1 {
    font-size: 6em;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 20vh;
    margin: 0;
    align-items: center;
}

.reset {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.grid {
    display: flex;
    height: 70vh;
    border: solid #ddd;
    border-width: 1px 0 0 1px;
    font-size: 2em;
}

.col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-right: 1px solid $color-grid-border;
    width: 25%;
}

.questions {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.title {
    display: flex;
    height: 10%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-bottom: 1px solid $color-grid-border;
    background: $color-grid-title-bg;
}

question {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-grow: 1;
    border-bottom: 1px solid $color-grid-border;
    color: $color-grid-question-text;

    &.available {
        cursor: pointer;
        transition: background 0.3s;
        color: $color-grid-question-available-text;
        background: $color-grid-question-available-bg;

        &:hover {
            background: $color-grid-question-available-hover-bg;
        }
    }
}

.bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $color-bottom-bar-bg;
    color: $color-bottom-bar-text;
    font-size: 1.2em;
    vertical-align: middle;

    .group {
        margin: 0 -15px;
        padding: 15px;
        display: inline-block;

        &.active {
            background: $color-bottom-group-bg;
        }

        span {
            display: inline-block;
            margin-right: 10px;
            font-weight: bold;
        }
    }

    .jokers {
        font-size: 28px;
        line-height: 55px;

        > span {
            opacity: 0.3;

            &.active {
                opacity: 1;
                cursor: pointer;
            }
        }

        .glyphicon {
            margin: 0 10px;
        }
    }
}
