$color-main: #70193A;
$color-body-text: #fff;
$color-body-overlay: rgba(#000, 0.4);

$color-bottom-bar-bg: $color-main;
$color-bottom-bar-text: $color-body-text;
$color-bottom-group-bg: transparentize($color-body-text, 0.7);

$color-grid-border: #ddd;
$color-grid-title-bg: transparentize($color-body-text, 0.9);
$color-grid-question-text: transparentize($color-body-text, 0.5);
$color-grid-question-available-text: $color-body-text;
$color-grid-question-available-bg: $color-grid-title-bg;
$color-grid-question-available-hover-bg: transparentize($color-body-text, 0.7);

$color-question-media-bg: transparentize($color-body-text, 0.8);
$color-question-media-solution-text: $color-body-text;
$color-question-media-solution-bg: $color-main;

$color-question-pattern-text: transparentize($color-body-text, 0.5);
$color-question-pattern-available-text: $color-body-text;
$color-question-pattern-available-bg: transparentize($color-body-text, 0.9);
$color-question-pattern-available-hover-bg: transparentize($color-body-text, 0.7);