@import "variables";

html, body {
    height: 100%;
}

body {
    padding-bottom: 80px;
    -webkit-font-smoothing: antialiased;
    background: url(../assets/background.jpg) no-repeat center center;
    background-size: cover;
    color: $color-body-text;
    position: relative;

    &:before {
        content: '';
        background: $color-body-overlay;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

quiz-app {
    display: block;
    position: relative;
    z-index: 1;
}
